
/****** Object:  Table [dbo].[MasterCategoryDocument]    Script Date: 01/14/2016 08:57:57 ******/
DROP TABLE [dbo].[MasterCategoryDocument]
GO
/****** Object:  Table [dbo].[MasterCategoryDocument]    Script Date: 01/14/2016 08:57:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MasterCategoryDocument](
	[MasterCategoryDocId] [int] IDENTITY(1,1) NOT NULL,
	[CategoryName] [nvarchar](255) NULL,
	[InitialLicense] [nvarchar](5) NULL,
	[PostLicensure] [nvarchar](5) NULL,
	[Renewal] [nvarchar](5) NULL,
	[Agency] [nvarchar](50) NULL,
	[Agency_FullName] [nvarchar](200) NULL,
	[Div] [nvarchar](50) NULL,
	[DivisionFullName] [nvarchar](200) NULL,
	[SupportingDocuments] [nvarchar](255) NULL,
	[ShortDocName] [nvarchar](100) NULL,
	[Description] [nvarchar](2000) NULL,
	[Status] [bit] NULL,
 CONSTRAINT [PK_MasterCategoryDocument] PRIMARY KEY CLUSTERED 
(
	[MasterCategoryDocId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[MasterCategoryDocument] ON 

GO
INSERT [dbo].[MasterCategoryDocument] ([MasterCategoryDocId], [CategoryName], [InitialLicense], [PostLicensure], [Renewal], [Agency], [Agency_FullName], [Div], [DivisionFullName], [SupportingDocuments], [ShortDocName], [Description], [Status]) VALUES (1, N'Employer Paid Personnel Service', N'Y', N'Y', N'N', N'APPLICANT', N'Applicant', N'NA', N'NA', N'Statement of Business Integrity', N'BusIntegrity', N'A notarized statement verifying that the information in the application is true and correct.', 1)
GO
INSERT [dbo].[MasterCategoryDocument] ([MasterCategoryDocId], [CategoryName], [InitialLicense], [PostLicensure], [Renewal], [Agency], [Agency_FullName], [Div], [DivisionFullName], [SupportingDocuments], [ShortDocName], [Description], [Status]) VALUES (3, N'Employer Paid Personnel Service', N'Y', N'Y', N'N', N'DCRA', N'Department of Consumer and Regulatory Affairs (DCRA)', N'BLD', N'Business Licensing Division (BLD)', N'Permission Form for Credit Check', N'CreditCheckPermission', N'A signed permission form for DCRA to request a credit check must be provided.', 1)
GO
SET IDENTITY_INSERT [dbo].[MasterCategoryDocument] OFF
GO
