@model BusinessCenter.Admin.Models.ReSendMail
@{
    ViewBag.Title = "DCRA - Forgotpassword Staus";
}
<div class="container headerBreadcrumb">
    @Html.ActionLink("Home", "Login", "Account")
    <span class="easy-breadcrumb_segment-separator"> / </span>
    <span href="" class="easy-breadcrumb_segment easy-breadcrumb_segment-front">Forgot Password Status</span>
</div>
<div class="page_title">
    <div class="container">
        <div class="row">
            <h2 tabindex="0" id="page_heading">Verify your Email to reset your password</h2>
        </div>
    </div>
</div>
<div class="register_form">
    <div class="container">
        <div class="verify-mail">
            <h3 id="password_status">You are almost done. A link has been sent to your 
            registered email to reset your passowrd.</h3>
        </div>
    </div>
</div>


