@model BusinessCenter.Admin.Models.ReSendMail
@{
    ViewBag.Title = "DCRA - Forgotpasswordstaus";
}
<div class="container headerBreadcrumb">
    @if (Session["UserName"] != null)
    {
        @Html.ActionLink("Home", "Dashboard", "SuperAdmin")
    }
    else
    {
        @Html.ActionLink("Home", "Login", "Account")
    }
    <span class="easy-breadcrumb_segment-separator">/</span>
    <span class="easy-breadcrumb_segment-separator">Reset Password </span>
</div>
<div class="page_title">
    <div class=" container">
        <div class="row">
            <h2 tabindex="0" id="page_heading">Password reset link has been sent to <br /> @ViewBag.Statusmsg's mail id.</h2>
        </div>
    </div>
</div>
<div class="login_form forgot_password" style="height:350px;">
    <div class=" container">
        <div class="verify-mail">
            <h3 id="password_status">Password reset link has been successfully sent.</h3>
            <p class="resend-email">
        </div>
    </div>
</div>


