.quetion_wrapper h2 {
    font-family: 'Open Sans', sans-serif;
    color: #1268ac;
    font-size: 40px;
    font-weight: 300;
    line-height: 44px;
    margin-top: 1%;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
}