<div ng-include src="'partials/header.html'"></div>
<div class="container headerBreadcrumb">
    <a href="javascript:void(0)" ng-click="navToHome()" class="easy-breadcrumb_segment easy-breadcrumb_segment-title" tabindex="0">Home</a>
    <span class="easy-breadcrumb_segment-separator"> / </span>
    <a href="javascript:void(0)" ng-click="navToLogin()" class="easy-breadcrumb_segment easy-breadcrumb_segment-title" tabindex="0">DC Business Center</a>
    <span class="easy-breadcrumb_segment-separator"> / </span>
    <a href="javascript:void(0)" ng-click="navToLogin()" class="easy-breadcrumb_segment easy-breadcrumb_segment-title" tabindex="0">Login</a>
    <span class="easy-breadcrumb_segment-separator"> / </span>
    <a href="javascript:void(0)" ng-click="navToforgotusername()" class="easy-breadcrumb_segment easy-breadcrumb_segment-title" tabindex="0">Forgot Username</a>
    <span class="easy-breadcrumb_segment-separator"> / </span>
    <a href="javascript:void(0)" ng-click="navTosecurityquestion()" class="easy-breadcrumb_segment easy-breadcrumb_segment-title" tabindex="0">Security Questions</a>
    <span class="easy-breadcrumb_segment-separator"> / </span>
    <a href="javascript:void(0)" ng-click="navToLogin()" class="easy-breadcrumb_segment easy-breadcrumb_segment-title" tabindex="0">My Dc Business Center</a>
    <span class="easy-breadcrumb_segment-separator"> / </span>
    <span class="easy-breadcrumb_segment easy-breadcrumb_segment-front">Account Recovery</span>
</div>
<div class="page_title scr_title">
    <div class="container">
        <div class="row">
            <h2 tabindex="0">Account Recovery</h2>
            <p>Help With This Page (Click Here) <img src="images/titlearrow.png"></p>
        </div>
    </div>
</div>
<div class="register_form">
    <div class="container">
        <div class="account-recovery">
            <div class="col-xs-12 gap">
                <span>Your Username Is</span>&nbsp; : &nbsp;<span class="password">{{username}}</span>
            </div>
        </div>
    </div>
</div>

<!-- Footer Starts -->
<div ng-include src="'partials/footer.html'"></div>

