
            <table id="Maintbl" width="100%">
                <tr bgcolor="white" width="100%" id="main" >
                    <th colspan="4">
                        <font color="black" size="5">
                            Department of Consumer and Regulatory Affairs
                            GOVERNMENT
                        </font>
                    </th>  
                </tr>
        <tr>
            <td width="25%">
                <img src="../images/dc_logo.png" />
            </td>

            <td width="25%">
                GOVERNMENT
                OF THE
                DISTRICT OF COLUMBIA
                Vincent C. Gray, Mayor
            </td>

            <td width="25%">
                Business Licensing Division
                OF THE 1100 4th Street S.W.
                Washington DC 20024
            </td>
            <td width="25%">
                <table>
                    <tr>
                        <td>Date Billed:</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Category:</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>License #:</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>ABL #:</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>License Period:</td>
                        <td></td>
                    </tr>
                </table>
            </td>
        </tr>
   
        <tr bgcolor="#000000">
            <th colspan="4"><font color="white">BASIC BUSINESS LICENSE - RENEWAL BILL</font></th>
        </tr>
<tr>
    <td colspan="2"><table>
    <tr>
        <td>Billing Name and Address:</td>
      
    </tr>
    <tr>       
        <td></td>
    </tr>
</table></td>
    <td colspan="2">
        <table>
            <tr>
                <td>Premise/Applicant's Name and Address</td>
               
            </tr>
            <tr>
                <td></td>
               
            </tr>
            <tr>
                <td>Registered Agent's Name and Address</td>

            </tr>
            <tr>
                <td></td>

            </tr>
        </table>
    </td>
</tr>
                <tr>
                    <td colspan="4" ><u>NOTICE: Pay Online with Pin<span>************</span> at https://cpms.dcra.dc.gov/osr/ </u></td>
                </tr>
                <tr>
                    <td colspan="4">Owner's Name</td>
                </tr>
                <tr>
                    <td colspan="4">Corp. Name</td>
                </tr>
                <tr>
                    <td colspan="4">Trade Name</td>
                </tr>
                <tr >
                    <td colspan="4">
                        <table border="1" width="100%" >
    <tr >
        
        <td width="20" >CofO/HOP#:<span></span></td>
        <td width="20">SSL:<span></span></td>
        <td width="20">Zone:<span></span></td>
        <td width="15">Ward:<span></span></td>
        <td width="15">ANC:<span></span></td>
        <td width="10">ANC:<span></span></td>
       
    </tr>
                            <tr>

                                <td width="20"><span></span></td>
                                <td width="20"><span></span></td>
                                <td width="20">UNITS:<span></span></td>
                                <td width="15"><span></span></td>
                                <td width="15"><span></span></td>
                                <td width="10"><span></span></td>

                            </tr>

                            </table>
                    </td>
               

</tr>
                <tr>
                    <td colspan="4"> General Business - General Business License</td>
                </tr>
                <tr>
                    <td > Bill Only</td>

                    <td colspan="2" align="center">DCRA COPY</td>
                    <td >Bill Only</td>
                </tr>
                <tr>
                    <td colspan="2">
                        <table>
                            <tr>
                                <td>License Fee (Acc# 3235): </td><td><span>$200.00</span></td>
                                
                            </tr>
                            <tr>
                                <td>RAO Fee (Acc# 3205): </td>
                                <td><span>$0.00</span></td>

                            </tr>
                            <tr>
                                <td>Application/Renewal Fee (Acc# 3235):  </td>
                                <td><span>$70.00</span></td>

                            </tr>
                            <tr>
                                <td>Endorsement Fee (Acc# 3235):  </td>
                                <td><span>$25.00</span></td>

                            </tr>
                            <tr>
                                <td>Late Fee (Acc# 3235):  </td>
                                <td><span>$0.00</span></td>
                            </tr>
                            <tr>
                                <td>Penalty/Past Due (Acc# 3235):   </td>
                                <td><span>$0.00</span></td>
                            </tr>
                            <tr>
                                <td>Enhanced Service Fee (Acc# 3235):   </td>
                                <td><span>$29.50</span></td>
                            </tr>
                        </table>
                    </td>
                    <td colspan="2"></td>
                </tr>
               
   
</table>