<fieldset width="700px;">
    <table >

        <tr>
            <td style="text-align: center;" colspan="2">eHOP Home Address (Business Premise Address)</td>
        </tr>
        <tr> <td colspan="2"><hr /></td></tr>

        <tr> <td style="text-align: center; margin-bottom: 10px;" colspan="2"><font size="5">Please provide your Home Address and Email for inclusion on your Expedited Home Occupancy Permit (eHOP).</font></td></tr>
        <tr><td colspan="2"></td></tr>
        <tr> <td colspan="2"> <strong>Note :</strong> An eHOP fee of $66.00 + 10% Technology Fee for a total of $72.60 will be added to your Total Fee and the Grand Total is displayed accordingly when you make payment. Please select Next after entering all the required data.</td> </tr>
        <tr> <td colspan="2"><hr /></td></tr>

        <tr><td align="left"><strong>Street Address:</strong></td></tr>
        <tr><td><span></span></td></tr>
        <tr>
            <td>
                <table width="100%">
                    <tr>
                        <td width="25%"><strong>Street Type :</strong></td>
                        <td width="25%"></td>
                        <td width="25%"><strong>Quadrant :</strong> </td>
                        <td width="25%"></td>
                    </tr>
                    <tr>
                        <td width="25%"><strong>Unit Type :</strong></td>
                        <td width="25%"></td>
                        <td width="25%"><strong>Unit :</strong> </td>
                        <td width="25%"></td>
                    </tr>
                    <tr>
                        <td width="25%"><strong>City :</strong></td>
                        <td width="25%"></td>
                        <td width="25%"><strong>State :</strong> </td>
                        <td width="25%"></td>
                    </tr>
                    <tr>
                        <td width="25%"><strong>Zip :</strong></td>
                        <td width="25%"></td>
                        <td width="25%"><strong>Telephone :</strong> </td>
                        <td width="25%"></td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</fieldset>