<footer ng-controller="HeaderController">
    <!-- This is the page for rendering the main content as per region. -->
    <div class="region region-footer">

        <!-- Footer Starts -->
        <div class="footer-bottom">
            <div class="container">
                <div class="row">
                    <a href="javascript:void(0)" ng-click="navToTop()" class="backtop" title="Back to top">Back to top</a>
                    <!--<div class="col-md-6 col-sm-12 col-xs-12 ">
                                    <div class="off-360"></div>
                                    </div>-->
                    <!--<div class="col-md-6 col-sm-12 col-xs-12 ">
                                        <div class="off-360"></div>
                    </div>-->
                </div>
            </div>
        </div>
        <!-- Footer Ends -->
    </div>
</footer>