<div ng-include src="'partials/header.html'"></div>

<div class="container headerBreadcrumb" id="headingPassword">
    <a href="" data-ng-mousedown="navtoHome($event)" class="easy-breadcrumb_segment easy-breadcrumb_segment-title" tabindex="0">Home</a>
    <span class="easy-breadcrumb_segment-separator"> / </span>
    <a href="javascript:void(0)" data-ng-mousedown="navToMyDCBC($event)" class="easy-breadcrumb_segment easy-breadcrumb_segment-title" tabindex="0">My DC Business Center</a>
    <span class="easy-breadcrumb_segment-separator"> / </span>
    <a href="#/login" class="easy-breadcrumb_segment easy-breadcrumb_segment-title" tabindex="0">Login</a>
    <span class="easy-breadcrumb_segment-separator"> / </span>
    <span class="easy-breadcrumb_segment easy-breadcrumb_segment-front" tabindex="0">Forgot Password</span>
</div>
<div class="container headerBreadcrumb display" id="headingPassword1">
    <a href="" data-ng-mousedown="navtoHome($event)" class="easy-breadcrumb_segment easy-breadcrumb_segment-title" tabindex="0">Home</a>
    <span class="easy-breadcrumb_segment-separator"> / </span>
    <a href="javascript:void(0)" data-ng-mousedown="navToMyDCBC($event)" class="easy-breadcrumb_segment easy-breadcrumb_segment-title" tabindex="0">My DC Business Center</a>
    <span class="easy-breadcrumb_segment-separator"> / </span>
    <a href="#/login" class="easy-breadcrumb_segment easy-breadcrumb_segment-title" tabindex="0">Login</a>
    <span class="easy-breadcrumb_segment-separator"> / </span>
    <a href="javascript:void(0)" class="easy-breadcrumb_segment easy-breadcrumb_segment-title" tabindex="0" ng-click="navToforgotpassword()" ng-mousedown="checkrightClick('#/forgotpassword',$event)">Forgot Password</a>
    <span class="easy-breadcrumb_segment-separator"> / </span>
    <span class="easy-breadcrumb_segment easy-breadcrumb_segment-front">Security Questions</span>
</div>
<div class="page_title scr_title" id="pagetitle">
    <div class="container">
        <div class="row" id="classrow">
            <h2 tabindex="0">Password Reset</h2>
            <p><span aria-expanded="false" onclick="toggleclick('toggleicon')" aria-controls="collapseExample" class="cursor_type" onkeypress="testKey(event)" id="toggleicon">Help With This Page (Click Here)</span></p>
            <div class="collapse" id="collapseExample">
                <div class="well info-content">
                    <p class="text-center">
                        <strong>This page is used to reset your password if it is lost or needs to be changed. </strong>
                    </p>
                    <p class="terms_text">Enter your registered username. If you cannot remember your username, use the <strong>Forgot Username</strong> link on the <strong>LOGIN</strong> page to recover it.</p>
                    <!--<p class="terms_text">
            Enter your registered username.
        </p>-->
                    <!--<p class="terms_text leftside">If you cannot remember your username, <a href="javascript:void(0)" ng-click="navToforgotusername()"><strong>click here</strong></a> to recover your username.</p>-->
                    <p class="terms_text">Choose how you would like to reset your password. </p>
                    <p>
                        <ul class="terms_text leftside">
                            <li>
                                If you would like an email sent to your registered email address, select the Email option.
                            </li>
                        </ul>
                    </p>
                    <p class="terms_text">
                        Click the <strong>Submit </strong>button.
                    </p>
                    <p class="terms_text">Look for a "NoReply" email from dc.gov in your registered account.</p>
                    <p class="terms_text">Please allow five (5) minutes for delivery.</p>
                    <p class="terms_text">Use the link provided in the email to reset your password.</p>
                    <p class="terms_text">Be sure to check your Spam or Junk folder if you do not see the email in your inbox.</p>
                    <p class="p_height"></p>
                    <p>
                        <ul class="terms_text leftside">
                            <li>
                                If you would like to answer your security questions, select the Security Questions option.
                            </li>
                        </ul>
                    </p>
                    <p class="terms_text">
                        Click the <strong>Submit </strong>button.
                    </p>
                    <p class="terms_text">One of the three (3) security questions that you previously selected will be displayed.</p>
                    <p class="terms_text">
                        Type in the answer and click the <strong>Submitt</strong> Button.
                    </p>
                    <p class="terms_text">If you answer any security questions incorrectly, double check your answer and try again.</p>
                    <p class="terms_text">
                        <div class="login_form my_form">
                            <span class="terms_text"> If you need additional help, review the</span> <a href="../HelpDoc/UserGuide.pdf" target="_blank"> <span class="btn btn-default read_btn">My DC Business Center User Guide</span></a> <span class="terms_text"> or contact the DCRA Help Desk at <strong>(202) 442-4400</strong>.</span>
                        </div>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="page_title scr_title display" id="title1">
    <div class="container">
        <div class="row">
            <h2 tabindex="0">Security Questions</h2>
            <p><span aria-expanded="false" id="toggleicon" onclick="toggleclick('toggleicon')" aria-controls="collapseExample" class="cursor_type">Help With This Page (Click Here) </span></p>
            <div class="collapse" id="collapseExample">
                <div class="well">
                    <p class="text-center">
                        <strong>This page is used to reset your password by answering security questions. </strong>
                    </p>
                    <p class="terms_text">One of the three (3) security questions that you previously selected will be displayed.</p>
                    <p class="terms_text">
                        Type in the answer and click the <strong>Submitt</strong> Button.
                    </p>
                    <p class="terms_text">If you answer any security questions incorrectly, double check your answer and try again.</p>
                    <!--<p class="terms_text">
                        Answer the security question that you previously selected.
                    </p>
                    <p class="terms_text">Click the <strong>Submit </strong>button.</p>
                    <p class="terms_text">If you answer any security questions incorrectly, double check your answer and try again.  </p>-->
                    <p class="terms_text">
                        <div class="login_form my_form">
                            <span class="terms_text"> If you need additional help, review the</span> <a href="../HelpDoc/UserGuide.pdf" target="_blank"> <button class="btn btn-default read_btn">My DC Business Center User Guide</button></a> <span class="terms_text"> or contact the DCRA Help Desk at <strong>(202) 442-4400</strong>.</span>
                        </div>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="dvLoadingSection">
    <div class="center">
        <p>
            Please wait... <img src="../images/camera-loader.gif" alt="not showing" />
        </p>
    </div>
</div>
<div id="dvMainsection">
    <div class="login_form forgot_password" id="divForgotpasswordBymail">
        <div class="container">
            <p class="forgot" id="forgotclass">Please enter your username and choose to reset your password using an email link or your security questions.</p>
            <div class="form_wrapper" id="form1">
                <form role="form" method="post" id="forgotpassword_form" name="forgotpassword_form" autocomplete="off" ng-submit="forgotpassword_form_validation()" novalidate>
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="form-group login_wrapper" id="login_block">
                            <!--<input type="name" class="form-control" placeholder="Username" name="name" id="name">-->
                            <input type="text" class="form-control" spellcheck="false" placeholder="Username" name="username" onblur="this.placeholder = 'Username'" onfocus="this.placeholder = ''" id="name" ng-model="forgotpass.username" ng-maxlength="80" ng-focus="setPwdErrorMsg('username')" required>
                            <div class="error_text" id="username"></div>
                        </div>
                        <div class="col-lg-offset-4 col-md-offset-3 security radio_margin" id="classrow1">
                            <div class="form-type-radio form-item-licenseeQuestions form-item radio ">
                                <div class="radio " id="uniform-edit-licenseequestions-22">
                                    <div ng-init="forgotpass.RadioEmailValue=RadioEmailValue"></div>
                                    <span id="licenseQYes" class="checked">
                                        <input type="radio" value="0" name="group1" id="RadioEmailValue" ng-click="licenseQSpanClick('licenseQYes','licenseQNo','RadioEmailValue','RadioSecuValue');" ng-focus="setPwdErrorMsg('usernameValid')" class="form-radio opacity" checked="checked" ng-model="forgotpass.username1">
                                        <!--<input type="radio" id="email_radio" name="licenseeQuestions" ng-click="licenseQSpanClick('licenseQYes','licenseQNo','email_radio','security_email');" value="1" class="form-radio" style="opacity: 0;">-->
                                    </span>
                                    <label for="edit-licenseequestions-22" tabindex="-1"></label><b class="font_weight">Email </b> - Select this option to receive an email link to reset your password.
                                </div>
                            </div>
                            <div class="form-type-radio form-item-licenseeQuestions form-item radio">
                                <div class="radio " id="uniform-edit-licenseequestions-22">
                                    <span id="licenseQNo" class="">
                                        <input type="radio" value="1" name="group2" id="RadioSecuValue" ng-focus="setPwdErrorMsg('usernameValid')" ng-click="licenseQSpanClick('licenseQNo','licenseQYes','RadioSecuValue','RadioEmailValue');" class="form-radio opacity" ng-model="forgotpass.username1">
                                        <!--<input type="radio" id="security_email" name="licenseeQuestions" ng-click="licenseQSpanClick('licenseQNo','licenseQYes','security_email','email_radio');" value="0" class="form-radio" style="opacity: 0;">-->
                                    </span>
                                    <label for="edit-licenseequestions-22" tabindex="-1"></label><b class="font_weight">Security Questions </b> - Select this option to reset your password using your security questions.
                                </div>
                            </div>
                        </div>
                        <div class="login_wrapper" id="divbutton1">
                            <br />
                            <div id="pwderror_msg" class="error_text"></div>
                            <button id="submit_contact1" class="btn btn-default login">SUBMIT</button>
                            <div class="error_text text_align" id="usernameValid"></div>
                        </div> <!--ng-click="navToRegister()"-->
                        <p id="getStartLink">Don't have an account? <a href="#/register">Get Started</a>.</p>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="register_form login_form" id="SequrityQuestion_block">
        <div class="container">
            <div class="form_wrapper">
                <form role="form" method="post" id="security_form" name="security_form" ng-submit="security_form_validation()" autocomplete="off" novalidate>
                    <!--all three (3)-->
                    <div id="divUserQuestion" class="display">
                        <div class="security-question">
                            <p class="forgot" id="fo">Please answer the following security question to retrieve your password. You answered this question during your registration process.</p>
                            <p class="forgot" id="fo">
                                <div class="error_text display_block" id="checkAnswers"></div>
                            </p>
                            <div class="clearfix">
                                <div class="col-md-6 col-sm-6 col-xs-12 margin_top">
                                    <p ng-model=" forgotpass.SecurityQuestion1"> {{SecurityQuestion1}}</p>
                                </div>
                                <div class="col-md-6 col-sm-6 col-xs-12 ">
                                    <div class="form-group">
                                        <input type="text" class="form-control text_left" placeholder="Answer" onblur="this.placeholder = 'Answer'" onfocus="this.placeholder = ''" auto-focus name="subject1" id="ans1" ng-model="forgotpass.securityanswer1" required ng-focus="setPwdErrorMsg('error_msg')">
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="clear_both"></div>
                    <div id="error_msg" class="error_textnew"></div>
                    <div class="center_div display" id="divbutton2">
                        <button id="submit_contact" class="btn btn-default login">SUBMIT</button>
                        <p>
                            <!--ng-click="navToRegister()"-->
                            Don't have an account? <a href="#/register">Get Started</a>.
                        </p>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div ng-include src="'partials/footer.html'"></div>
