<div ng-include src="'partials/header.html'"></div>
<div class="container headerBreadcrumb">
    <a href="" ng-click="navToHome()" class="easy-breadcrumb_segment easy-breadcrumb_segment-title" tabindex="0">Home</a>
<span class="easy-breadcrumb_segment-separator"> / </span>
    <a href="javascript:void(0)" data-ng-mousedown="navToMyDCBC($event)" class="easy-breadcrumb_segment easy-breadcrumb_segment-title" tabindex="0">My DC Business Center</a>
<span class="easy-breadcrumb_segment-separator"> / </span>
<span class="easy-breadcrumb_segment easy-breadcrumb_segment-front">Help</span></div>
<div class="page_title page_title_help scr_title">
	<div class="container">
		<div class="row">
			<h2 tabindex="0">Help</h2>
			<!--<p>How To Use This Page <img src="images/titlearrow.png"></p>-->
			<h3>Choose from one of the frequently asked questions below or enter a keyword or topic in the search box below</h3>
		</div>
	</div>
</div>
<section class="help_box">
	<div class="container">
        <input type="text" placeholder="Search for a Keyword or topic" auto-focus class="col-sm-7 col-xs-9 col-md-offset-2">
			<button><img src="images/dc_search_help.png"></button>
		</div>
</section>

<div class="register_form">
	<div class="container">
		<h4> <span>For more information you can email us at</span> <strong>dcra@dc.gov</strong> or call (202) 442-440</h4>
		</div>
	</div>
<section class="help_text">
	<div class="container">
		<div class="eheight col-sm-4">
			<h2> My DC Business Center </h2>
			<ul>
				<li><span>Reference site about Lorem Ipsum, giving information on its origins, as well as a random Lipsum generator.</span></li>
				<li><span>I am using Mac PC and I am having some issues. </span></li>
				<li><span>Reference site about Lorem Ipsum, giving information on its origins.</span></li>
				<li><span>I am using Mac PC and I am having some issues. </span></li>
				<li><span>Reference site about Lorem Ipsum, giving information on its origins, as well as a random Lipsum generator.</span></li>
				<li><span>I am using Mac PC and I am having some issues. </span></li>
				<li><span>Reference site about Lorem Ipsum, giving information on its origins.</span></li>
				<li><span>I am using Mac PC and I am having some issues. </span></li>
				<li><span>Reference site about Lorem Ipsum, giving information on its origins.</span></li>
				<li><span>I am using Mac PC and I am having some issues. </span></li>
			</ul>
		</div>
		<div class="eheight col-sm-4">
			<h2> Start a Business </h2>
			<ul>
				<li><span>How do I start a business in the District of Columbia?</span></li>
				<li><span>I am already registered to do business in the District . Why do I need a Basic Business License?</span></li>
				<li><span>I received a notice that my business is not in "good standing." What does that mean?</span></li>
				<li><span>My business was incorporated in another state and I do little business in the District. Why do I need to register with the Corporations Division?</span></li>
				<li><span>What does it mean to "good standing" with the Corporations Division?</span></li>
				<li><span>What is a Corporation Registration?</span></li>
				<li><span>Why do I need to pay for a trade name? I already paid for and registered my business' name?</span></li>
			</ul>
		</div>
		<div class="eheight col-sm-4">
			<h2> Maintain Your Business </h2>
			<ul>
				<li><span>Do I need to register a trade name?</span></li>
				<li><span>How do I file a biennial (2-year) report?</span></li>
				<li><span>How do I obtain a copy of my Business License?</span></li>
				<li><span>I have not received a renewal notice yet and my license has expired. What do I do?</span></li>
				<li><span>I have not received a renewal notice yet and my license has expired. What do I do?</span></li>
				<li><span>When will I incur late fees?</span></li>
			</ul>
		</div>
		<div class="eheight col-sm-4">
			<h2>Lookup a Business</h2>
			<ul>
				<li><span>How do I learn if a company has a Basic Business License (BBL)?</span></li>
				<li><span>How do I learn if a company is registered in the District of Columbia?</span></li>				
			</ul>
		</div>
		<div class="eheight col-sm-4">
			<h2> Certificate of Occupancy</h2>
			<ul>				
				<li><span>How do I find a building's Certificate of Occupancy number?</span></li>
				<li><span>I rent a single family dwelling in the District; do I need a Certificate of Occupancy?</span></li>
				<li><span>If I work at home, do I need a Certificate of Occupancy?</span></li>
				<li><span>If my business is in an already established office building, do I still need to get a Certificate of Occupancy?</span></li>
				<li><span>My business is located outside of the District and the Basic Business License (BBL) Application asks for a Certificate of Occupancy (C of O) number. What do I do?</span></li>
				<li><span>What is a Certificate of Occupancy?</span></li>
				<li><span>When is a Certificate of Occupancy (C of O) needed?</span></li>
				<li><span>Where can I obtain a Certificate of Occupancy?</span></li>
			</ul>
		</div>
		<div class="eheight col-sm-4">
			<h2> Home Occupation Permit </h2>
			<ul>
				<li><span>What is considered a "home occupation?"</span></li>
				<li><span>What is the purpose of a Home Occupation Permit?</span> </li>
				<li><span>Where do I go to get a Home Occupation Permit (HOP)?</span></li>				
			</ul>
		</div>
		<div class="eheight col-sm-4">
			<h2> Corporations Division </h2>
			<ul>
				<li><span>Do I need to register a trade name?</span></li>
				<li><span>How do I file a biennial (2-year) report?</span> </li>
				<li><span>How do I maintain my business entity with the Corporations Division?</span></li>
				<li><span>How do I obtain a certified copy of a business entity's filings/records?</span></li>
				<li><span>How do you obtain a refund from the Corporations Division?</span> </li>
				<li><span>How do I find information for a registered entity?</span></li>
				<li><span>How do I obtain a Good Standing Certificate?</span></li>
			</ul>
		</div>
		<div class="eheight col-sm-4">
			<h2>License Renewals</h2>
			<ul>
				<li><span>Do I need to re-submit the same forms and documents for my renewal as I did for my initial application?</span></li>
				<li><span>I have not received a renewal notice yet and my license has expired. What do I do?</span> </li>
				<li><span>I received a notice to renew my Basic Business License. What do I need to do?</span></li>
				<li><span>I sent in my renewal application and payment, but it was returned with a Deficiency Notice. It says I didn't pay, but I have my cancelled check. Now what?</span></li>
				<li><span>My Basic Business License (BBL) will expire soon and I have not received a renewal notice. What should I do?</span></li>
				<li><span>When will I incur late fees?</span></li>
			</ul>
		</div>
		<div class="eheight col-sm-4">
			<h2>Professional and Occupational Licenses</h2>
			<ul>
				<li><span>Does a law firm require a Basic Business, Occupational or Professional license?</span></li>
				<li><span>Does the DCRA issue a license for security businesses, private investigators, detectives or armed guards?</span> </li>
				<li><span>Does the DCRA license professionals?</span></li>
				<li><span>I already have a Basic Business License (BBL); why do I need another license from OPLA?</span></li>
				<li><span>I am a doctor (nurse, plumber, social worker, attorney or other professional). I hold a professional license. Am I required to obtain a Basic Business License?</span> </li>
				<li><span>I am already registered to do business in the District. Why do I need a license from OPLA?</span></li>
				<li><span>My firm is licensed through the Occupational & Professional License Administration. Do I also need to register for a Basic Business License?</span></li>
			</ul>
		</div>
		<div class="eheight col-sm-4">
			<h2>Business Licensing</h2>
			<ul>
				<li><span>How do I apply for a Basic Business License?</span></li>
				<li><span>How often are Basic Business Licenses renewed?</span> </li>
				<li><span>I already have a Certificate of Authority to operate a business in the District of Columbia; why do I need another license?</span></li>
				<li><span>I already have a Basic Business License; do I also need to apply for a General Business License?</span></li>
				<li><span>I am a sub-contractor and am only here for one contract; do I need to get a Basic Business License?</span> </li>
				<li><span>I do freelance work on the side of my regular job; do I need a Basic Business License?</span></li>
				<li><span>I have clients in the District, but I don't have an office there. Do I still need to apply for a Basic Business License (BBL)?</span></li>
				<li><span>I have several businesses; can I apply for just one license?</span></li>
				<li><span>I lost my Basic Business License. How do I get a copy?</span> </li>
				<li><span>I sent in all the information required for my Basic Business License application and received a Deficiency Notice. What does this mean?</span></li>
				<li><span>I sent in my application; my check was cashed, but I have not received my license yet. Why?</span></li>
				<li><span>I want to rent my single family home in the District; do I need a license?</span> </li>
				<li><span>I'm a consultant, not a business. I file my earnings on my personal tax forms, but I was told I still need a Basic Business License. Why?</span></li>
				<li><span>Is a Basic Business License required for an owner seeking to sell his or her own property?</span></li>
				<li><span>What kind of license do I need?</span></li>
				<li><span>Where can I get a copy of the Basic Business License Application?</span></li>
			</ul>
		</div>
		<div class="eheight col-sm-4">
			<h2>License Fees, Payment Methods and Refunds</h2>
			<ul>
				<li><span>How do I apply for a refund from the Business Licensing Division?</span></li>
				<li><span>How do I pay for my Basic Business License (BBL)?</span> </li>
				<li><span>How much will my Basic Business License cost?</span></li>				
			</ul>
		</div>
		<div class="eheight col-sm-4">
			<h2>Tax and Revenue (FR-500 , 164 etc)</h2>
			<ul>
				<li><span>I already pay business taxes to the District. Do I need to file an FR-500?</span></li>
				<li><span>What does "Clean Hands" mean?</span> </li>
				<li><span>What is an FR-500?</span></li>				
			</ul>
		</div>
		<div class="eheight col-sm-4">
			<h2>Weights and Measures</h2>
			<ul>
				<li><span>How do I schedule to have my weighing and measuring devices inspected?</span></li>
				<li><span>What forms do I need to apply for a Weights and Measures Certificate?</span> </li>
				<li><span>What is a Weights & Measures Certificate?</span></li>
				<li><span>What types of weighing and measuring devices are required to be registered?</span></li>				
			</ul>
		</div>
		<div class="eheight col-sm-4">
			<h2>Corporate Registration</h2>
			<ul>
				<li><span>After I access the CorpOnline website, the system is not responding . Why not?</span></li>
				<li><span>After I have paid for my filing utilizing CorpOnline, why does it appear under "Pending Services"? What is the next step?</span> </li>
				<li><span>After submitting a service request on CorpOnline, what is the next step?</span></li>
				<li><span>Can an organization act as its own Registered Agent if it has an office address in the District of Columbia?</span></li>
				<li><span>How can I get refund of fees paid for my corporate filing?</span> </li>
				<li><span>How do I access the CorpOnline website?</span></li>
				<li><span>How do I contact the Corporations Division?</span></li>
				<li><span>How do I file for my company using CorpOnline?</span></li>
				<li><span>How do I get a Certificate of Good Standing?</span> </li>
				<li><span>How do I get certified copies of documents from the Corporations Division?</span></li>
				<li><span>How do I submit corporate filings using CorpOnline?</span></li>
				<li><span>I am having issues with accessing the CorpOnline website. What do I do now?</span> </li>
				<li><span>I am on the CorpOnline website, but nothing happens when I click on a link. What do I need to do?</span></li>
				<li><span>I am trying to access the CorpOnline website, but I am receiving “Server error 404 - File or directory not found” message. What should I do?</span></li>
				<li><span>I am using Mac PC and I am having some issues. Do you plan to configure the website to work with Macs?</span></li>
				<li><span>I have just filed my biennial report on the CorpOnline system. What happens next?</span> </li>
				<li><span>I have paid for my filing but it did not submit. Now system asks for the payment again. Why?</span></li>
				<li><span>I have registered for a CorpOnline account, but still can't login. Why not?</span></li>
				<li><span>I have submitted my filing utilizing CorpOnline. What is the next step?</span> </li>
				<li><span>I have used one of the online services and submitted my request. What is the next step?</span></li>
				<li><span>If  my corporation/organization is registered in another state/country, do I need to register in DC?</span></li>
				
				<li><span>If I register my corporation to do business in District of Columbia, is that registration valid in other states?</span></li>
				<li><span>May I fax a request or my registration documents to the Division of Corporations?</span> </li>
				<li><span>My filing on CorpOnline was rejected, what do I need to do to resubmit it?</span></li>
				<li><span>I have searched for my company by using “Business Filings Search” and my information is not correct. How do I correct it?</span></li>
				<li><span>What are the address requirements for Registered Agents?</span> </li>
				<li><span>What are the Corporate Registration Fees?</span></li>
				<li><span>What are the registered agent requirements in the District of Columbia?</span></li>
				<li><span>What are the tabs in my CorpOnline account?</span></li>
				<li><span>What does "conducting business" mean?</span> </li>
				<li><span>What does "Entity status is revoked" mean in the District of Columbia? What is it and how can I put my company back in good standing?</span></li>
				<li><span>What does it mean if my entity status is "revoked?" How do I correct this issue?</span></li>
				<li><span>What entities should have a Registered Agent?</span> </li>
				<li><span>What is a Professional Corporation (PC) and a Professional Limited Liability Company (PLLC)?</span></li>
				<li><span>What is a Work Order ID number in CorpOnline?</span></li>
				<li><span>What is the average turnaround time for corporate filings?</span></li>
				<li><span>What is the difference between a corporate name and trade name?</span> </li>
				<li><span>What is the penalty for failure to maintain a Registered Agent?</span></li>
				<li><span>What services are available through CorpOnline?</span></li>
				<li><span>What web browsers can I use to access CorpOnline?</span> </li>
				<li><span>What's the penalty for operating a business, in the District of Columbia, without getting a Certificate of foreign registration?</span></li>
				<li><span>Where can I get my corporate seal?</span></li>
				<li><span>While filing a report using CorpOnline, I received a "time out" error message. Why?</span></li>
				<li><span>Who can act as Registered Agent in the District of Columbia?</span></li>
				<li><span>Why am I unable to login to CorpOline if I am using Internet Explorer 8 or 9?</span> </li>
				<li><span>Why do I need to create an account to access CorpOnline services?</span></li>
				<li><span>Why is the CorpOnlie system requesting that I submit a second payment for my filing?</span></li>
			</ul>
		</div>
	</div>
</section>	
	
</div>

<!-- Footer Starts -->
<div ng-include src="'partials/footer.html'"></div>

