<div ng-include src="'partials/header.html'"></div>
<div class="container headerBreadcrumb">
    <a href="" data-ng-mousedown="navtoHome($event)" class="easy-breadcrumb_segment easy-breadcrumb_segment-title" tabindex="0">Home</a>
    <span class="easy-breadcrumb_segment-separator"> / </span>
    <a href="#/login"class="easy-breadcrumb_segment easy-breadcrumb_segment-title" tabindex="0">My DC Business Center</a>
    <span class="easy-breadcrumb_segment-separator"> / </span>
    <a href="#/login" class="easy-breadcrumb_segment easy-breadcrumb_segment-title" tabindex="0">Login</a>
    <span class="easy-breadcrumb_segment-separator"> / </span>
    <a href="#/forgotpassword" class="easy-breadcrumb_segment easy-breadcrumb_segment-title"> Forgot Password</a>
    <span class="easy-breadcrumb_segment-separator"> / </span>
    <span class="easy-breadcrumb_segment easy-breadcrumb_segment-front">Password Reset</span>   
</div>
<div id="dvLoadingSection">
    <div class="center">
        <p> Please wait...<img src="../images/camera-loader.gif" alt="not showing" /></p>
    </div>
</div>
<div id="dvMainsection" class="display">
    <div class="page_title scr_title diplay" id="dvTitle">
        <div class="container">
            <div class="row">
                <h2>Reset Password</h2>
            </div>
        </div>
    </div>
    <div class="login_form">
        <div class="container">
            <div class="login_wrapper" id="login_block">
                <div class="form_wrapper">
                    <form role="form" method="post" id="contact_us" autocomplete="off" name="contact_us" ng-submit="newpassword()" novalidate>
                        <div class="col-md-12 col-sm-12 col-xs-12 ">
                            <div class="form-group">
                                <input type="password" spellcheck="false" class="form-control" placeholder="Password" onblur="this.placeholder = 'Password'" onfocus="this.placeholder = ''" id="Pass" name="Password" ng-model="register.Password" required ng-focus="setErrorMsg('error_text')"
                                       ng-pattern="/^((?=.*?[A-Z])(?=.*?[a-z])(?=.*?\d)|(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[^a-zA-Z0-9])|(?=.*?[A-Z])(?=.*?\d)(?=.*?[^a-zA-Z0-9])|(?=.*?[a-z])(?=.*?\d)(?=.*?[^a-zA-Z0-9])).{8,}$/"
                                       ng-minlength="8" />
                                <div class="error-container" ng-show="contact_us.Password.$dirty && contact_us.Password.$invalid">
                                    <small class="error-message" ng-show="contact_us.Password.$error.pattern">
                                        Please make sure that your password contains all of
                                        the following:
                                        1. The password is at least eight (8) characters long.
                                        2. The password contains characters from at least three of the following four
                                        categories:
                                        3. English uppercase characters (A- Z)
                                        4. English lowercase characters (a- z)
                                        5. Base 10 digits (0- 9)
                                        6. Special or Punctuation Characters (Example: !, $,#,or%)
                                    </small>
                                    <small class="error-message" ng-show="contact_us.Password.$error.minlength">
                                        Your password should be atleast 8 charecters long.
                                    </small>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 col-sm-12 col-xs-12 ">
                            <div class="form-group">
                                <input type="password" spellcheck="false" class="form-control" ng-focus="setErrorMsg('error_text')" placeholder="Confirm Password" onblur="this.placeholder = 'Confirm Password'" onfocus="    this.placeholder = ''" name="conf_password" required id="Cpass" ng-model="register.ConfirmPassword" ng-pattern="/^((?=.*?[A-Z])(?=.*?[a-z])(?=.*?\d)|(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[^a-zA-Z0-9])|(?=.*?[A-Z])(?=.*?\d)(?=.*?[^a-zA-Z0-9])|(?=.*?[a-z])(?=.*?\d)(?=.*?[^a-zA-Z0-9])).{8,}$/" valid-password-c="register.Password" />
                                <div class="error-container" ng-show="contact_us.conf_password.$dirty && contact_us.conf_password.$invalid">
                                    <small class="error-message" ng-show="contact_us.conf_password.$error.pattern">
                                        Password should Contain 3 of these 4 options: lower case letter, upper case letter, number, or special character
                                        and must be atleast 8 characters long.
                                    </small>
                                    <small class="error-message" ng-show="contact_us.conf_password.$error.noMatch">
                                        <!--Password and Confirm Password does not match!-->
                                    </small>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <button id="submit_contact" class="btn btn-default login" type="submit">Submit</button>
                        <div id="error_text" class="error_text"></div>
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>
    <div ng-include src="'partials/footer.html'"></div>
