<div ng-include src="'partials/header.html'"></div>
<div class="container headerBreadcrumb">
    <a href="" data-ng-mousedown="navtoHome($event)" class="easy-breadcrumb_segment easy-breadcrumb_segment-title" tabindex="0">Home</a>
    <span class="easy-breadcrumb_segment-separator"> / </span>
    <a href="javascript:void(0)" data-ng-mousedown="navToMyDCBC($event)" class="easy-breadcrumb_segment easy-breadcrumb_segment-title" tabindex="0">My DC Business Center</a>
    <span class="easy-breadcrumb_segment-separator"> / </span>
    <a href="#/login" ng-click="navToLogin()" class="easy-breadcrumb_segment easy-breadcrumb_segment-title" tabindex="0">Login</a>
    <span class="easy-breadcrumb_segment-separator"> / </span>
    <a href="#/forgotpassword" ng-click="navToforgotpassword()" class="easy-breadcrumb_segment easy-breadcrumb_segment-title" tabindex="0">Forgot Password</a>
    <span class="easy-breadcrumb_segment-separator"> / </span>
    <span class="easy-breadcrumb_segment easy-breadcrumb_segment-front">Password Status</span>
</div>
<div class="page_title">
    <div class="container">
        <div class="row">
            <h2 id="password_title">Verify your Email to reset your password</h2>
        </div>
    </div>
</div>
<div class="register_form">
    <div class="container">
        <div class="verify-mail">
            <h3 id="password_status">You are almost done. A link has been sent to your registered email to reset your password.</h3>
            <p class="resend-email"><div id="resend_Email_text"> Can't find the email?</div> <a href="javascript:void(0)" ng-click="resendPassword()" id="resend_Email_link">Resend verification email</a> <div id="hide_or"></div>
        </div>
    </div>
</div>

<!-- Footer Starts -->
<div ng-include src="'partials/footer.html'"></div>

