<div ng-include src="'partials/header.html'"></div>
<div class="container headerBreadcrumb">
    <a data-ng-mousedown="navtoHome($event)" class="easy-breadcrumb_segment easy-breadcrumb_segment-title" tabindex="0">Home</a>
    <span class="easy-breadcrumb_segment-separator"> / </span>
    <a href="javascript:void(0)" data-ng-mousedown="navToMyDCBC($event)" class="easy-breadcrumb_segment easy-breadcrumb_segment-title" tabindex="0">My DC Business Center</a>
    <span class="easy-breadcrumb_segment-separator"> / </span>
    <span class="easy-breadcrumb_segment easy-breadcrumb_segment-front">Reset Password Link Status</span>
</div>

<div class="page_title">
    <div class="container">
        <div class="row">
            <h2 id="headermessage">Reset Password Link Is No Longer Valid</h2>
        </div>
    </div>
</div>
<div class="register_form">
    <div class="container">
        <div class="verify-mail">
            <p>
                <div id="message">Your password reset link is no longer valid and the reason may be one of the following</div>
                <div id="message">1. The reset password link was already used to reset the password.</div>
                <div id="message">2. You may have logged into your account with your current password before using this reset password link.</div>
            </p>
        </div>
    </div>
</div>

<!-- Footer Starts -->
<div ng-include src="'partials/footer.html'"></div>
