<div ng-include src="'partials/header.html'"></div>

<div class="container headerBreadcrumb">
    <a data-ng-mousedown="navtoHome($event)" class="easy-breadcrumb_segment easy-breadcrumb_segment-title" tabindex="0">Home</a>
    <span class="easy-breadcrumb_segment-separator"> / </span>
    <a href="javascript:void(0)" data-ng-mousedown="navToMyDCBC($event)" class="easy-breadcrumb_segment easy-breadcrumb_segment-title" tabindex="0">My DC Business Center</a>
    <span class="easy-breadcrumb_segment-separator"> / </span>
    <a href="#/mybbl" class="easy-breadcrumb_segment easy-breadcrumb_segment-title" tabindex="0">BBL</a>
    <span class="easy-breadcrumb_segment-separator"> / </span>
    <a href="#/newbblwelcome" class="easy-breadcrumb_segment easy-breadcrumb_segment-title" tabindex="0">Apply</a>
    <span class="easy-breadcrumb_segment-separator"> / </span>
    <span href="#" class="easy-breadcrumb_segment easy-breadcrumb_segment-front">Business Information</span>
</div>
<div class="page_title scr_title">
    <div class="container">
        <div class="row">
            <h2 tabindex="0">Business Information</h2>
            <p>
                <span tabindex="0" onclick="toggleclick('toggleicon')" aria-expanded="false" id="toggleicon" aria-controls="collapseExample" class="cursor_type" onkeypress="testKey(event)">
                    Help With This Page (Click Here)
                </span>
            </p>

            <div class="collapse" id="collapseExample">
                <div class="well info-content">
                    <p class="text-center">
                        <strong>This page is used to validate the Corporate Registration File Number for the business to be licensed.</strong>
                    </p>

                    <ul class="terms_text" style="padding-left: 80px;">
                        <li>
                            Enter your Corporate Registration File Number in the  <img src="../images/Howto_Corp_Number.png" style="height: 20px; width:303px;" /> box as it appears on your Corporate Registration, to include letters and numbers. (Older Corporate Registration File Numbers may consist of all numbers)
                        </li>
                        <li>
                            You can look up your corporate registration on DCRA's Corporations Division CorpOnline Web Portal. <a href="https://corp.dcra.dc.gov" target="_blank" style="color:#337ab7;font-weight:500;">(https://corp.dcra.dc.gov)</a> You will be required to set up a free user account to search the CorpOnline database.
                        </li>
                        <li>

                            Select the <button type="button" class="btn btn-primary" style="cursor: default; pointer-events: none;text-transform: capitalize"><span class="glyphicon glyphicon-search padding-small"></span> Search Corp Online </button> button.
                        </li>
                        <li>
                            A screen will unfold that displays the Business Headquarters address that corresponds to that Corporate Registration File Number you have entered.
                        </li>
                        <li>
                            You must verify whether the information displayed correctly or incorrectly corresponds to the business that to be licensed by selecting the <img src="../images/Correct_Incorrect.png" style="height: 28px; width: 158px;" />  button.
                        </li>
                    </ul>

                    <p class="terms_text srch_filter">
                        <strong>If the information is correct,</strong> a message will appear on your screen <img src="../images/ThankQ.png" style="height: 19px; width: 127px;" /> and you will be able to select the <button id="btn_revise1" class="btn btn-default btnnextColor btn-next" style="cursor: default; pointer-events: none; text-transform: capitalize;">Next</button> button to continue to the next part of the application.
                    </p>
                    <p class="terms_text srch_filter">
                        <strong>If the information is incorrect,</strong> you must work the Corporations Division within the Department of Consumer and Regulatory Affairs to make all corrections before returning to repeat this step in the BBL application process.
                    </p>

                    <p class="terms_text">
                        <div class="login_form my_form">
                            <span class="terms_text"> If you need additional help, review the</span>
                            <a href="../HelpDoc/BBL_User_Guide.pdf" target="_blank" class="btn btn-default read_btn"> My BBLs User Guide</a>
                            <span class="terms_text"> or contact the DCRA Help Desk at <strong>(202) 442-4400</strong>.</span>
                        </div>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="dvLoadingSection">
    <div class="center">
        <p>
            Please wait... <img src="../images/camera-loader.gif" alt="not showing" />
        </p>
    </div>
</div>
<div id="dvMainsection">
    <div data-ng-controller="CorpReqRegisterController as vm">
        <div class="physical-loc-form">
            <div class="container">
                <div class="panel panel-default">
                    <div class="panel-heading text-left">Corporate Registration</div>
                    <div class="panel-body">
                        <div class="page-desc-content">
                            <p class="panel-body-text">
                                <!--Given your previous responses, your business is already registered with the Corporations Division. Please enter your complete Corporate Registration File number below to include all letters and numbers and select the "Search Corp Online" button.-->
                                Please enter your Corporate Registration File Number below as it appears on your Corporate Registration document and select the "Search Corp Online" button.
                            </p>
                        </div>
                        <div class="clearfix"></div>
                        <div id="error_msg" class="text-center" style="color: red" tabindex="-1"></div>
                        <fieldset ng-disabled="vm.somevalue">
                            <div class="search_form form_wrapper">
                                <form role="form" method="post" id="vm.contact_us" autocomplete="off" name="vm.contact_us" novalidate ng-submit="vm.corpnorregadd_form_validate(corpregistraion)">
                                    <div class="clearfix">
                                        <div class="col-sm-12 col-xs-12">
                                            <div class="input-group">
                                                <input class="form-control ng-pristine ng-valid" spellcheck="false" ng-focus="vm.corpErrorMsg('error_msg')" required name="corpregfilenumber" data-ng-model="vm.corpregistraion.FileNumber" placeholder="Enter all letters and/or numbers as they appear." type="text" ng-change="vm.checkSearchZoning()">
                                                <span class="input-group-btn">
                                                    <button class="btn btn-primary" type="button" data-ng-click="vm.getCorpRegInfo()">
                                                        <span class="glyphicon glyphicon-search"></span><span class="hidden-sm hidden-xs"> Search Corp Online</span>
                                                    </button>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="margin-top-corp" data-ng-if="vm.corpregistraion.foundinfo===true && (vm.Dcbc_EntityCorpStatus!='ACTIVE'&& vm.Dcbc_EntityCorpStatus!='NODATA' && vm.Dcbc_EntityCorpStatus!=null)" id="errorrevoked">
                                <div class="alert error_text margin_t text-center">

                                    According to the Corporations Division's files, the Status of your Corporate Registration is <strong> {{vm.Dcbc_EntityCorpStatus| capitalize}}</strong>. You must resolve any issues prior to submitting your Business License application. Please select Return to Checklist and visit the DCRA Corporations Division at 1100 4th St., SW, or call 202-442-4400.<br /><br />
                                    Please allow two full business days after updating your Corporate Registration before attempting the Application process again.
                                </div>
                            </div>
                            <div class="margin-top-corp" data-ng-if="!vm.businessStructureStatus && vm.Dcbc_EntityCorpStatus=='ACTIVE'" id="errorrevoked">
                                <div class="alert error_text margin_t text-center">
                                    {{vm.currentpage_errors.corp_businessstructure_mismatch}}
                                    <!--The Business Structure you selected in the Pre-Application Questions does not match the Corporations records. Please check your entry and try again. If your entry does not match, please select [Return to Checklist] and visit the DCRA Corporations Division at 1100 4th St., SW or call 202-442-4400.-->
                                </div>
                            </div>
                            <div class="margin-top-corp highlight" data-ng-if="vm.corpregistraion.busiaddresscorrect===false ||  vm.corpregistraion.addresscorrect===false" id="erroraddress">
                                <div class="alert error_text margin_t text-center highlight" tabindex="-1">To correct information on your Corporate Registration, you must contact the Corporations Division prior to submitting your Business License application. Please select [Return to Checklist] and visit the DCRA Corporations Division at 1100 4th St., SW, or call 202-442-4400.</div>
                            </div>
                            <div class="margin-top-corp" data-ng-if="vm.corpregistraion.foundinfo===true &&   vm.Dcbc_EntityCorpStatus==='NODATA'" id="errormsg">
                                <div class="alert error_text margin_t text-center">
                                    {{vm.currentpage_errors.corpnodata}}
                                    <!--The File Number you entered does not match the Corporations records. Please check your entry and try again. If your entry does not match, please select [Return to Checklist] and visit the DCRA Corporations Division at 1100 4th St., SW or call 202-442-4400.-->
                                </div>
                            </div>
                            <div id="dvSubLoadingSection" style="display: none; text-align: center;">
                                <div class="center">
                                    <p>
                                        Please wait... <img src="../images/camera-loader.gif" alt="not showing" />
                                    </p>
                                </div>
                            </div>
                            <div id="dvSubMainsection">
                                <div data-ng-if="vm.corpregistraion.foundinfo===true && vm.Businessdata[0].EntityStatus=='ACTIVE'" class="margin-top-corp">
                                    <div class="col-sm-6 col-xl-6 col-xs-12">
                                        <div class="panel panel-default collapse_panels" style="border-radius: 10px;">
                                            <div class="panel-heading" style="padding: 2% 1%; background-color: #E4E2E2;">
                                                <p style="text-align: center;">Company Information</p>
                                            </div>
                                            <div class="panel-body">
                                                <p>
                                                    <span>Business Name: </span>{{vm.Businessdata[0].CBusinessName}}
                                                </p>
                                                <!--<p>
                                                    <span>Trade Name: </span>{{vm.Businessdata[0].TradeName}}
                                                </p>-->
                                                <p>
                                                    <span>Business Structure: </span>{{vm.Businessdata[0].BusinessStructure}}
                                                </p>
                                                <p>
                                                    Does this information match your Corporate Registration?
                                                </p>
                                            </div>
                                            <div class="panel-footer">
                                                <div class="form-type-radio  form-item form-group">
                                                    <div id="companyinfo" class="form-radios ">
                                                        <div class="form-type-radio pre_appscreenquestion form-item radio corp-radio-error-hightlight" tabindex="0" ng-class="{'has-error': vm.corpregistraion.addresscorrect==undefined && vm.submitted }">
                                                            <div class="radiobtn corp-radio-error" id="companyInfo_radiobtn_correct">
                                                                <span ng-class="{true:'checked'}[vm.corpregistraion.addresscorrect]">
                                                                    <input type="radio" id="company_info_correct" name="company_info_correct" class="form-radio" style="opacity: 0;" data-ng-click="vm.toggleRadio('company_info_correct')" ng-disabled="!vm.businessStructureStatus" ng-class="{true:'cursorNotAllowed'}[!vm.businessStructureStatus && vm.Dcbc_EntityCorpStatus=='ACTIVE']">
                                                                </span>
                                                            </div>
                                                            <label for="companyInfo_radio" tabindex="-1">Correct </label>
                                                        </div>
                                                        <div class="form-type-radio pre_appscreenquestion form-item radio  corp-radio-error-hightlight" tabindex="0" ng-class="{'has-error': vm.corpregistraion.addresscorrect==undefined && vm.submitted }">
                                                            <div class="radiobtn corp-radio-error" id="companyInfo_radiobtn_incorrect">
                                                                <span ng-class="{false:'checked'}[vm.corpregistraion.addresscorrect]">
                                                                    <input type="radio" id="companyInfo_incorrect" name="company_info_correct" class="form-radio" style="opacity: 0;" data-ng-click="vm.toggleRadio('companyInfo_incorrect')" ng-disabled="!vm.businessStructureStatus" ng-class="{true:'cursorNotAllowed'}[!vm.businessStructureStatus && vm.Dcbc_EntityCorpStatus=='ACTIVE']">
                                                                </span>
                                                            </div>
                                                            <label for="companyInfo_radio_incorrect" tabindex="-1">Incorrect </label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-xl-6 col-xs-12">
                                        <div class="panel panel-default collapse_panels" style="border-radius: 10px;">
                                            <div class="panel-heading" style="padding: 2% 1%; background-color: #E4E2E2;">
                                                <p style="text-align: center;">Business Headquarters Address</p>
                                            </div>
                                            <div class="panel-body">
                                                <p>
                                                    <span>First Name: </span>{{vm.Businessdata[0].FirstName}}
                                                </p>
                                                <p>
                                                    <span>Middle Name: </span>{{vm.Businessdata[0].MiddleName}}
                                                </p>
                                                <p>
                                                    <span>Last Name: </span>{{vm.Businessdata[0].LastName}}
                                                </p>
                                                <p>
                                                    <span>Business Name: </span>{{vm.Businessdata[0].CBusinessName}}
                                                </p>
                                                <p>
                                                    <span>Address 1: </span> {{vm.Businessdata[0].BusinessAddressLine1}}
                                                </p>
                                                <p>
                                                    <span>Address 2: </span> {{vm.Businessdata[0].BusinessAddressLine2}}
                                                </p>
                                                <p>
                                                    <span>Address 3: </span> {{vm.Businessdata[0].BusinessAddressLine3}}
                                                </p>
                                                <p>
                                                    <span>City: </span>{{vm.Businessdata[0].BusinessCity}}
                                                </p>
                                                <p>
                                                    <span>State: </span>{{vm.Businessdata[0].BusinessState}}
                                                </p>
                                                <p>
                                                    <span>Zip Code: </span>{{vm.Businessdata[0].ZipCode}}
                                                </p>
                                                <p>
                                                    <span>Country: </span>{{vm.Businessdata[0].BusinessCountry}}
                                                </p>
                                                <p>
                                                    <span>Email: </span>{{vm.Businessdata[0].Email}}
                                                </p>
                                                <p>
                                                    <span>Telephone: </span>{{vm.Businessdata[0].Telphone}}
                                                </p>
                                                <p>
                                                    Does this information match your Corporate Registration?.
                                                </p>
                                            </div>
                                            <div class="panel-footer">
                                                <div class="form-type-radio  form-item form-group">
                                                    <div id="comapny_hq_addr" class="form-radios ">
                                                        <div class="form-type-radio pre_appscreenquestion form-item radio corp-radio-error-hightlight" tabindex="0" ng-class="{'has-error': vm.corpregistraion.busiaddresscorrect==undefined && vm.submitted }">
                                                            <div class="radiobtn corp-radio-error" id="comapny_hq_addr_radiobtn">
                                                                <span ng-class="{true:'checked'}[vm.corpregistraion.busiaddresscorrect]">
                                                                    <input type="radio" id="business_address_correct" name="comapny_hq_addr_verify" class="form-radio" style="opacity: 0;" data-ng-click="vm.togglebusiness('business_address_correct')" ng-disabled="!vm.businessStructureStatus" ng-class="{true:'cursorNotAllowed'}[!vm.businessStructureStatus && vm.Dcbc_EntityCorpStatus=='ACTIVE']">
                                                                </span>
                                                            </div>
                                                            <label for="comapny_hq_addr_radio_correct" tabindex="-1">Correct </label>
                                                        </div>
                                                        <div class="form-type-radio pre_appscreenquestion form-item radio corp-radio-error-hightlight" tabindex="0" ng-class="{'has-error': vm.corpregistraion.busiaddresscorrect==undefined && vm.submitted }">
                                                            <div class="radiobtn corp-radio-error" id="comapny_hq_addr_radiobtn_correct">
                                                                <span ng-class="{false:'checked'}[vm.corpregistraion.busiaddresscorrect]">
                                                                    <input type="radio" id="business_address_incorrect" name="comapny_hq_addr_verify" class="form-radio" style="opacity: 0;" data-ng-click="vm.togglebusiness('business_address_incorrect')" ng-disabled="!vm.businessStructureStatus" ng-class="{true:'cursorNotAllowed'}[!vm.businessStructureStatus && vm.Dcbc_EntityCorpStatus=='ACTIVE']">
                                                                </span>
                                                            </div>
                                                            <label for="comapny_hq_addr_radio_incorrect" tabindex="-1">Incorrect </label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                        <div class="margin-top-corp" data-ng-if="vm.corpregistraion.busiaddresscorrect==true &&  vm.corpregistraion.addresscorrect==true && vm.Businessdata[0].EntityStatus=='ACTIVE'" id="successmessage">
                            <div class="alert margin_t text-center color-success-message">Thank you. Please select Next.</div>
                        </div>
                        <div class="pre-checkquestion form_button_footer pre-checkquestion-question col-md-12 col-xs-12">
                            <button id="btn_exit_no_save1" class="btn btn-default" data-ng-click="vm.navToBack()">Back </button>
                            <button id="btn_exit_no_save" class="btn btn-default" data-ng-click="vm.checkAndExit('mybbl')">Exit</button>
                            <button id="btn_create_checklist" class="btn btn-default" data-ng-click="vm.checkAndExit('appchecklist')">
                                Return to Checklist
                            </button>
                            <button id="btn_revise" class="btn btn-default btnnextColor btn-next"
                                    ng-class="{true:'disablecolor'}[!vm.entityStatus ]"
                                    data-ng-click="vm.navToBusinessAgent()"
                                    ng-disabled="!vm.entityStatus">
                                Next
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="corpPopup" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        </div>
                        <div class="modal-body">
                            <h3 class='error_message'></h3>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="close-button" ng-click="vm.navigateAnyway()">Ok</button>
                            <button type="button" class="close-button" ng-click="vm.dontNavigate()">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div ng-include src="'partials/footer.html'"></div>