<div ng-include src="'partials/header.html'"></div>
<div class="container headerBreadcrumb">
    <a href="" data-ng-mousedown="navtoHome($event)" class="easy-breadcrumb_segment easy-breadcrumb_segment-title" tabindex="0">Home</a>
    <span class="easy-breadcrumb_segment-separator"> / </span>
    <a href="javascript:void(0)" data-ng-mousedown="navToMyDCBC($event)" class="easy-breadcrumb_segment easy-breadcrumb_segment-title" tabindex="0">My DC Business Center</a>
    <span class="easy-breadcrumb_segment-separator"> / </span>
    <span class="easy-breadcrumb_segment easy-breadcrumb_segment-front" id="email_breadcrum"></span>
    <!--<span class="easy-breadcrumb_segment easy-breadcrumb_segment-title" tabindex="0">Home</span>
    <span class="easy-breadcrumb_segment-separator"> / </span>
    <span class="easy-breadcrumb_segment easy-breadcrumb_segment-title" tabindex="0">DC Business Center</span>
    <span class="easy-breadcrumb_segment-separator"> / </span>
    <a href="" class="easy-breadcrumb_segment easy-breadcrumb_segment-front" id="email_breadcrum"></a>-->
</div>
<div class="page_title">
    <div class="container">
        <div class="row">
            <h2 id="email_title"></h2>
        </div>
    </div>
</div>
<div class="register_form">
    <div class="container">
        <div class="verify-mail">
            <h3 id="email_heading"></h3>
            <p id="email_message"></p>
           
        </div>
    </div>
</div>

<!-- Footer Starts -->
<div ng-include src="'partials/footer.html'"></div>
