<div ng-include src="'partials/header.html'"></div>
<div class="container headerBreadcrumb">
    <a href="" ng-click="navToHome()" class="easy-breadcrumb_segment easy-breadcrumb_segment-title" tabindex="0">Home</a>
    <span class="easy-breadcrumb_segment-separator"> / </span>
    <a href="javascript:void(0)" data-ng-mousedown="navToMyDCBC($event)" class="easy-breadcrumb_segment easy-breadcrumb_segment-title" tabindex="0">My DC Business Center</a>
    <span class="easy-breadcrumb_segment-separator"> / </span>
    <a class="easy-breadcrumb_segment easy-breadcrumb_segment-front">Password Updation</a>
</div>
<div class="page_title">
    <div class="container">
        <div class="row">
            <h2>Successful</h2>
        </div>
    </div>
</div>
<div class="register_form">
    <div class="container">
        
        <div class="verify-mail">
            <p>
                <div id="message">Your Primary Email is changed Successfully.</div> <div>Kindly confirm it by clicking both the links sent to your Old and New Primary Email ids to see the change in your profile.</div><div> Please   <a href="javascript:void(0)" ng-click="navToLogin()">Login</a> to continue </div> 
            </p>

        </div>
    </div>
</div>

<!-- Footer Starts -->
<div ng-include src="'partials/footer.html'"></div>
