<div class="input-group">
    <div tabindex="-1" class="form-control file-caption  kv-fileinput-caption">
        <span class="file-caption-ellipsis" title="1365266026CRM implementation.pdf">…</span>

        <div class="file-caption-name" title="1365266026CRM implementation.pdf"><span
                class="glyphicon glyphicon-file kv-caption-icon"></span>1365266026CRM implementation.pdf
        </div>
    </div>
    <div class="input-group-btn">
        <button type="button" title="Clear selected files"
                class="btn btn-default fileinput-remove fileinput-remove-button"><i
                class="glyphicon glyphicon-trash"></i> Remove
        </button>
        <button type="button" title="Abort ongoing upload"
                class="hide btn btn-default fileinput-cancel fileinput-cancel-button"><i
                class="glyphicon glyphicon-ban-circle"></i> Cancel
        </button>
        <button type="submit" title="Upload selected files"
                class="btn btn-default kv-fileinput-upload fileinput-upload-button"><i
                class="glyphicon glyphicon-upload"></i> Upload
        </button>
        <div class="btn btn-primary btn-file"><i class="glyphicon glyphicon-folder-open"></i> &nbsp;Browse … <input
                fileuploadctl="" type="file" class="file" data-preview-file-type="any" id="1437852913681"></div>
    </div>
</div>