<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
  <appSettings>

    <add key="IntervalMinutes"  value="1440" />
    <add key="userName"  value="johncarter1234" />
    <add key="password"  value="dcra@admin2015" />
    <add key="siteAddress" value="https://mybusiness.dc.gov/" />
    <add key="ControllerLocation" value="api/BBLAssociation/MailAlarm" />
  </appSettings>
</configuration>